.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
header .space {
  padding-left: 4em;
}

header .logo {
  width: 7em;
  height: 7em;
}
header .shopping-Basket-icon {
  font-size: 3em;
  color: #282727;
}
header h1 {
  font-family: "Inspiration", cursive;
  font-size: 4em;
  color: #d1552c;
  margin-top: -0.3em;
  text-shadow: 0px 3px 3px #212020;
}
.shoppingCart {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.shoppingCart .CountCartItemShow {
  margin: -0.8em;
  border: 1px solid black;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 3px;
  background-color: #24ff00;
  place-content: center;
  color: #282727;
}

.menuButton {
  background-color: #fff6e9;
  border: 1px solid #8f8f8f;
  padding: 5px;
  border-radius: 30px;
  width: 200px;
  font-family: Poppins;
  font-size: 41px;
  cursor: pointer;
}
header p {
  font-family: Poppins;
  font-size: 2em;
  font-weight: bold;
  margin: 0.4em;
}
.backToMain-icon {
  font-size: 3em;
  color: #282727;
}
.hidden {
  display: none;
}
