.mainHeader,
.menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}
.menuText {
  padding: 0;
}
header .space {
  padding-left: 4em;
}

header .logo {
  width: 7em;
  height: 7em;
}
header .shopping-Basket-icon {
  font-size: 3em;
  color: var(--text-color);
}
header h1 {
  font-family: var(--header-text-font);
  font-size: 4em;
  color: var(--dark-orange-color);
  margin-top: -0.3em;
  text-shadow: 0px 3px 3px #212020;
}
.shoppingCart {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5em 0;
  padding: 1em 1em 0 0;
}
.shoppingCart .CountCartItemShow {
  margin: -0.8em;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 3px;
  background-color: #24ff00;
  place-content: center;
  color: var(--text-color);
  text-decoration: none;
}

svg.shopping-Basket-icon {
  text-decoration: none;
  color: var(--text-color);
}
a {
  text-decoration: none;
}
.shoppingCart .CountCartItemHidden {
  margin: -0.7em;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 3px;
  background-color: #24ff00;
  place-content: center;
  color: var(--text-color);
  text-decoration: none;
  visibility: hidden;
}
.menuButton {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--shadow-color);
  border-radius: 20px;
  width: 6em;
  font-size: 32px;
  margin-bottom: 1em;
  cursor: pointer;
}

.menuButton:hover {
  box-shadow: 0px 2px 5px var(--shadow-color) inset;
}

header p {
  font-family: var(--text-font);
  font-size: 2em;
  margin: 0.4em;
  color: var(--text-color);
}
.backToMain-icon {
  font-size: 3em;
  color: var(--text-color);
  /* margin: 0.2em; */
  padding-top: 0.3em;
}
.hidden {
  display: none;
}
@media (max-width: 900px) {
  header .backToMain-icon {
    font-size: 2em;
  }
  .shoppingCart .CountCartItemShow {
    margin: -0.9em;
    width: 1em;
    height: 1em;
    font-size: 1em;
    padding: 3px;
  }
  header h2 {
    font-size: 1.5em;
    margin: 0;
  }
  header .shoppingCart {
    font-size: 0.7em;
  }
  .menuButton {
    font-size: 30px;
  }

  header .logo {
    width: 5em;
    height: 5em;
  }
  header h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
  }
}
@media (max-width: 550px) {
  .shoppingCart .CountCartItemShow {
    margin: -0.9em;
    width: 1em;
    height: 1em;
    font-size: 1em;
    padding: 3px;
  }
  header h2 {
    font-size: 1.5em;
    margin: 0;
  }
  header .shoppingCart {
    font-size: 0.7em;
  }
  .menuButton {
    font-size: 30px;
  }

  header .logo {
    width: 5em;
    height: 5em;
  }
  header h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
  }
}
