nav {
  /* background-color: #333; */
  color: #3a3939;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  padding: 1em;
  color: #201e1e;
  text-decoration: none;
}
